<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="argusui.com.argus"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />

            </intent-filter>
        </activity>
        <activity
            android:name=".GesturePad"
            android:label=".GesturePad">
            <intent-filter>
                <category android:name="android.intent.category.gesture" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>

        </activity>

        <activity
            android:name=".DialPad"
            android:label=".DialPad">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ArgusCam"
            android:label="ArgusCam">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".OcrCaptureActivity"
            android:label="Read Text">

        </activity>
        <activity android:name=".OcrDetectorProcessor"></activity>
        <activity android:name=".OcrGraphic"></activity>

    </application>

</manifest>